.btn-custom {

    
    box-shadow: 0px 4px 10px rgba(255, 223, 0, 0.6);
    margin-top: 100px;
    height: 100px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .btn-custom:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(255, 223, 0, 0.6);
  }
  .btn-icon {
    margin-right: 8px;
     font-size: 70px;
  }