.hotel-card {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px #da9100, -0px -0px 0px #da9100;
    transition: transform 0.3s ease;
  }

  .hotel-card:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 10px #f8c358, -3px -3px 10px #f8c358;
    
  }

  .hotel-card img {
    transition: opacity 0.3s ease;
  }

  .hotel-card:hover img {
    opacity: 0.6;
  }

  .hotel-card .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #da9100;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .hotel-card:hover .card-overlay {
    opacity: 1;
    box-shadow: #da9100;
  }
  .card1{
    
  }