{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/galary.css' %}">
    <link rel="icon" href="{% static 'images/cankiet_logo.png'%}">
</head>
<body>
    <div id="wrapper">
        <div class="container">
            <h1>My Gallery</h1>
            <div class="gallery">
                <figure class="card">
                    <img src="{% static 'images/image1.jpg' %}" alt="Image1">
                    <figcaption>Image1</figcaption>
                </figure>

                <figure class="card">
                    <img src="{% static 'images/image2.jpeg' %}" alt="Image2">
                    <figcaption>Image2</figcaption>
                </figure>

                <figure class="card">
                    <img src="{% static 'images/image3.jpeg' %}" alt="Image3">
                    <figcaption>Image3</figcaption>          
                </figure>

                <figure class="card">
                    <img src="{% static 'images/image4.jpeg' %}" alt="Image4">
                    <figcaption>Image4</figcaption> 
                </figure>

                <figure class="card">
                    <img src="{% static 'images/image5.jpeg' %}" alt="Image5">
                    <figcaption>Image5</figcaption>
                </figure>

                <figure class="card">
                    <img src="{% static 'images/image6.jpeg' %}" alt="Image6">
                    <figcaption>Image6</figcaption>       
                </figure>

                <figure class="card">
                    <img src="{% static 'images/image7.jpeg' %}" alt="Image7">
                    <figcaption>Image7</figcaption>
                </figure>

                <figure class="card">
                    <img src="{% static 'images/image8.jpeg'%}" alt="Image8">
                    <figcaption>Image8</figcaption>
                </figure>

                <figure class="card">
                    <img src="{% static 'images/image9.jpeg' %}" alt="Image9">
                    <figcaption>Image9</figcaption>
                </figure>

            </div>
        </div>
    </div>
</body>
</html>