/* Page Background */
.signIn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #2b2d42, #8d99ae); */
    background-image: url('../assets/background.jpg');
    /* opacity: 0.5; */
  }
  
  /* Form Container */
  .formContainer {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  /* Form Title */
  .formContainer h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  /* Input Groups */
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .inputField {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .inputField:focus {
    border-color: #2b2d42;
  }
  
  /* Submit Button */
  .submitButton {
    width: 100%;
    padding: 10px 15px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #2b2d42;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #1d1f29;
  }
  
  /* Link Group */
  .linkGroup {
    margin-top: 15px;
  }
  
  .linkGroup p {
    font-size: 0.9rem;
    color: #333;
  }
  
  .link {
    color: #2b2d42;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 480px) {
    .formContainer {
      padding: 20px;
    }
  
    .formContainer h1 {
      font-size: 1.5rem;
    }
  
    .inputField, .submitButton {
      font-size: 1rem;
    }
  }
  